flash-attn @ https://github.com/Dao-AILab/flash-attention/releases/download/v2.7.3/flash_attn-2.7.3+cu12torch2.6cxx11abiFALSE-cp310-cp310-linux_x86_64.whl
git+https://github.com/WePOINTS/WePOINTS.git
transformers-stream-generator
transformers==4.55.2
huggingface_hub
albumentations
qwen-vl-utils
pyvips-binary
sentencepiece
opencv-python
torch==2.6.0
docling-core
python-docx
torchvision
safetensors
accelerate
matplotlib
num2words
reportlab
requests
pymupdf
hf_xet
spaces
pyvips
pillow
gradio
einops
fpdf
peft
timm
av
